<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Port=5432;Database=PersonalInfoDb;User Id=All; Password=111111;" providerName="Npgsql" />
  </connectionStrings>
</configuration>